

.fitnessGoal{
    background-color: #000306;
    color: white;
    height: 1327px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;


}